body{
    margin: 0;
    background-color: rgb(142, 124, 124);
}
header{
    text-align: center;
    padding: 25px;
    padding-bottom: 1px;
    background: linear-gradient(to bottom, rgb(119, 102, 102), rgb(120, 96, 96));
}
nav{
    margin-left: auto;
}
h1{
    margin-bottom: 40px;
}
.topnav {
    overflow: hidden;
    background-color: #333;
    padding: 15px;
  }
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
}
